.Detail {
    width: fit-content;
    padding: 2rem;
    border-radius: 20px;
    transform: translate(-50%);
    margin: 1rem 0 1rem 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    background-color: white;
}

.back {
    width: 10vw; 
    height: 4vh;
    border-radius: 10px;
    font-size: 1.75rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    cursor: pointer;
}