html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*:root {
  --eerie-black: hsl(0, 0%, 13%);
  --onyx: hsl(0, 0%, 27%);
  --davys-gray: hsl(0, 0%, 33%);
  --sonic-silver: hsl(0, 0%, 47%);
  --spanish-gray: hsl(0, 0%, 60%);
  --white: hsl(0, 100%, 100%);
  --cultured: hsl(0, 0%, 93%);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif !important;
  background-color: #ebebeb !important;
}

a {
  text-decoration: none !important;
}

/* media query que maneja el modo oscuro */
@media (prefers-color-scheme: dark) {
  body {
    background: rgba(41, 41, 41, 1) !important;
  }

  .card, .Detail {
    background: rgba(18, 18, 18, 1) !important;
  }

  .texts {
    color: white !important;
  }

  .card-text {
    color: white !important;
  }

  .price {
    color: #00a650;
  }

  .user {
    background-color: rgba(18, 18, 18, 1) !important;
  }

  .form-textarea {
    background-color: white !important;
  }

  .button-container {
    color: white !important;
  }
}
